<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>188304054752-ansbp79hvcd0nrh4r1mhh0rli6a9v3g2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.188304054752-ansbp79hvcd0nrh4r1mhh0rli6a9v3g2</string>
	<key>API_KEY</key>
	<string>AIzaSyDzzla35Je_lLKxB24tIOHU_PyknKV46Vo</string>
	<key>GCM_SENDER_ID</key>
	<string>188304054752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tdavis.flashchat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-3aa28</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-3aa28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:188304054752:ios:67e70d9f0201e11c447385</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-3aa28.firebaseio.com</string>
</dict>
</plist>